.banner {
    height: 100vh;
    width: 100vw;
    background-image: url('images/iteration-1-images/home-banner.png');
    background-size: cover;
    background-position: center;
}

.slogan {
    font-family: "Barlow";
    font-weight: lighter;
    font-size: 5rem;
}

.buton {
    font-family: "Barlow";
}

.elyazisi {
    font-family: "Satisfy";
}