a, h1, h2, p {
  font-family: "Barlow";
}

@media(max-width: 768px) {
  .screenwidth  {
    width: 20rem;
  }
}

.dropdown {
  width: 9rem;
}

.firsat {
  font-family: "Satisfy";
} 

/* Checkbox için özel stil */
.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Checked olunca arka plan sarı olacak */
.checkbox:checked {
  background-color: #FDC913;
  border-color: #FDC913;
}

/* Checked olduğunda tik işareti eklenecek */
.checkbox:checked::after {
  content: "✔";
  color: gray;   /* tik gri olacak */
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  /* 2 sütun yap */
  .malzemeler-kapsayici {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem; /* kolon aralığı */
    row-gap: .5rem;   /* satır aralığı */
  }

  /* 3 sütunu “görünmez kap” yap; içindekiler doğrudan gride akar */
  .malzeme-sutun {
    display: contents;
  }

  /* tek tek satırların dikey boşluğu */
  .malzeme-sutun > .flex,
  .malzemeler-kapsayici > .flex {
    margin-bottom: .5rem;
  }
}