a, h1, h2, p {
  font-family: "Barlow";
}

@media(max-width: 768px) {
  .screenwidth  {
    width: 20rem;
  }
}

.dropdown {
  width: 9rem;
}

@media (max-width: 768px) {
  /* 2 sütun yap */
  .malzemeler-kapsayici {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem; /* kolon aralığı */
    row-gap: .5rem;   /* satır aralığı */
  }

  /* 3 sütunu “görünmez kap” yap; içindekiler doğrudan gride akar */
  .malzeme-sutun {
    display: contents;
  }

  /* tek tek satırların dikey boşluğu */
  .malzeme-sutun > .flex,
  .malzemeler-kapsayici > .flex {
    margin-bottom: .5rem;
  }
}